<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Murali Krishna Yadavalli Portfolio </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>To be an active employee who contributes to the Mission, Vision, and Values of the company. To give excellent performance, and to translate experience, knowledge, skills and
          abilities into value for the organization. Committed Project Engineer Intern with 6 years of experience in Hyderabad. Adept at following directions and taking the initiative to assist coworkers and clients in various ways. Dedicated to quality assurance and solution-oriented thinking.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Skills and Summary</h3>
            <div class="resume-item pb-0">

              <p><em>python programming,django,flask,html,css,bootstrap,mysql,AUTO-CAD,Eletrical Design and Drafting Msexcel,PowerPoint,Word.IOT Things, Wired and Wireless Programming Arduino Programming RTI Programming Project Estimation Presentation reation Product Development C Language</em></p>
              <p>
              <ul>
                <li>Rahamat nagar,Hyderabad</li>
                <li>9550633804</li>
                <li>muralikrishnay13@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>M.P.C: Board of Intermediate</h4>
              <h5>2007 - 2010</h5>
              <p><em>Sri Chaitanya Junior College, Board of Intermediate - Narasampet</em></p>

            </div>
            <div class="resume-item">
              <h4>B.Tech: Electrical And Electronics Engineering</h4>
              <h5>2010 - 2014</h5>
              <p><em>JNTUH -MEDAK COLLEGE OF ENGINEERING And TECHNOLOGY - Siddipet</em></p>

            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Executive -Implementation & Support</h4>
              <h5>2015-2018</h5>
              <p><em>jochebed tech solutions,ESI,Hyderabad</em></p>
              <p>
              <ul>
                <li>Certificate of completion course Electrical Design and Drafting at National Skill Development Corporation</li>
                <li>3 1/2 EXPERINCED IN JOCHEBED TECH SOLUTIONS. Home Automation Installation and Maintenance in IOT things, wired and wireless products. Production Working to PCB boards. Technical Management and Troubleshooting problems resolved. </li>
                <li>Arduino Programming in IOT things, Arduino products</li>
                <li>Electrical Design to AUTOCAD</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Project Engineer</h4>
              <h5>2018 - 2021</h5>
              <p><em>EDOMOTICS, HYDERABAD, TELANGANA</em></p>
              <p>
              <ul>
                <li>Certificate of participation to INSTALLER TRAINING PROGRAMME in TEXECOM academy</li>
                <li>Iam dealt with Residential (HONER VIVANTIS...) and Commercial (IKEA...) Projects. Manage all stages of automation projects. Manage and Meetings for clients. I’ve handover up to more than 60 projects</li>
                <li>Home automation products installation and programming: -KNX, BTICINO, CBUS, VANTAGE, LEGRAND ZIGBEE, HOGAR, TOYAMA, DSC, TEXECOM and RTI PROGRAMMING</li>
                <li>Installed and configured test systems for automation. Developed and implemented updates existing applications. Increased Productivity by identifying and implementing improvement to existing automation solutions.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->






</body>
</html>

{% endblock %}